---
name: CI
on:
  push:
    branches: 
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Create Artifacts Directory
        run: mkdir -p artifacts

      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'configmaps.zip'
          directory: artifacts
          path: ../
          exclusions: '*.git* /*node_modules/* .editorconfig /artifacts'
      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Copy files to the test website with the AWS CLI
        run: |
          cd artifacts
          aws s3 sync . s3://${{ secrets.AWS_S3_BUCKET }}/release